<%layout("/layouts/boilerplate")%>
<div class="row mt-3">
    <div class="col-8 offset-2">
<h3>Create New Listing</h3>

<form action="/listings" method="POST">

<div class="mb3">
<label for="title" class="form-label">Title</label>
<input 
name="listing[title]"
type="text"
placeholder="Title"
class="form-control"
/>
</div>
<br>

<div class="mb3">
<label for="description" class="form-label">description</label>
<textarea 
name="listing[description]" 
class="form-control"
></textarea>
</div>
<br>


<div class="mb3">
<label for="image" class="form-label class="form-label">Image Link</label>
<input 
name="listing[image]"
type="text"
placeholder="enterURL/LINK"
class="form-control"
/>
</div>
<br>

<div class="row">
    
<div class="mb3 col-md-4">
<label for="price" class="form-label">Price</label>
<input 
id="price"
name="listing[price]" 
type="number" 
placeholder="Enter Price"
class="form-control"
/>
</div>
<br>

<div class="mb-3 col-md-8">
<label for="country" class="form-label">Country</label>
<input 
id="country"
name="listing[country]" 
type="text" 
placeholder="Enter Country"
class="form-control"
/>
</div>
</div>



<div class="mb3">
<label for="location" class="form-label">Location</label>
<input 
id="location"
name="listing[location]" 
type="text" 
placeholder="Enter Location"
class="form-control"
/>
</div>
<br>

<button class="btn btn-dark add mt-3">Add</button>
</form>
</div>
</div>