<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h3>Create New Listing</h3>
    <form action="/listings" method="POST">
        <input name="listing[title]" type="text" placeholder="Title">
        <br><br>
        <textarea name="listing[description]" placeholder="Description"></textarea>
        <br><br>
        <input name="listing[image]" type="text" placeholder="Image URL">
        <br><br>
        <input name="listing[price]" type="number" placeholder="Price">
        <br><br>
        <input name="listing[location]" type="text" placeholder="Location">
        <br><br>
        <input name="listing[country]" type="text" placeholder="Country">
        <br><br>
        <button type="submit">Create Listing</button>
    </form>
</body>
</html>